<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsfConfig"
             type="Microsoft.SolverFoundation.Services.MsfConfigSection, Microsoft.Solver.Foundation, Version=3.0.1.10599, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <MsfConfig>
    <MsfPluginSolvers>
      <MsfPluginSolver name="gurobi" capability="LP" assembly="GurobiPlugIn.dll"
                       solverclass="SolverFoundation.Plugin.Gurobi.GurobiSolver"
                       directiveclass="SolverFoundation.Plugin.Gurobi.GurobiDirective"
                       parameterclass="SolverFoundation.Plugin.Gurobi.GurobiParams" />
    </MsfPluginSolvers>
  </MsfConfig>
</configuration>